n8n/buildos_governance_qa_failed.json
{
  "name": "BuildOS Governance — QA Failed (G6)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "buildos-governance-qa-failed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "g6-qaf-001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1.1,
      "position": [200, 300],
      "webhookId": "g6-qaf-wh-001"
    },
    {
      "parameters": {
        "jsCode": "// Validate + extract qa_failed event\nconst body = $input.first().json;\nconst body2 = body.body || body;\n\nconst task_id = body2.task_id;\nconst project_id = body2.project_id || null;\nconst verdict = body2.verdict || 'FAIL';\nconst score = body2.score !== undefined ? body2.score : null;\nconst agent_role = body2.agent_role || null;\nconst issues = body2.issues || [];\n\nif (!task_id) {\n  throw new Error('qa_failed event missing required field: task_id');\n}\n\nreturn [{\n  json: {\n    task_id,\n    project_id,\n    verdict,\n    score,\n    agent_role,\n    issues,\n    received_at: new Date().toISOString(),\n    event_type: 'qa_verdict_fail'\n  }\n}];"
      },
      "id": "g6-qaf-002",
      "name": "Validate Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUILDOS_BASE_URL }}/api/governance/task-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Buildos-Secret", "value": "={{ $env.BUILDOS_SECRET }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "task_id": "={{ $json.task_id }}",
          "project_id": "={{ $json.project_id }}",
          "event_type": "qa_verdict_fail",
          "actor_type": "system",
          "actor_id": "g6-governance-orchestrator",
          "details": {
            "verdict": "={{ $json.verdict }}",
            "score": "={{ $json.score }}",
            "agent_role": "={{ $json.agent_role }}",
            "issues": "={{ $json.issues }}",
            "n8n_workflow": "buildos-governance-qa-failed"
          }
        },
        "options": { "timeout": 10000 }
      },
      "id": "g6-qaf-003",
      "name": "Log to G5 task_events",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [640, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "={{ $env.BUILDOS_BASE_URL }}/api/governance/task-events",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "X-Buildos-Secret", "value": "={{ $env.BUILDOS_SECRET }}" }
          ]
        },
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            { "name": "task_id", "value": "={{ $('Validate Event').first().json.task_id }}" },
            { "name": "event_type", "value": "qa_verdict_fail" },
            { "name": "limit", "value": "50" }
          ]
        },
        "options": { "timeout": 10000 }
      },
      "id": "g6-qaf-004",
      "name": "Count QA Failures (Escalation Check)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [860, 300]
    },
    {
      "parameters": {
        "jsCode": "// Check escalation threshold: 3 QA failures in 24h → escalate\nconst resp = $input.first().json;\nconst events = resp.data || resp || [];\nconst eventList = Array.isArray(events) ? events : [];\n\n// Filter to last 24 hours\nconst cutoff = new Date(Date.now() - 24 * 60 * 60 * 1000);\nconst recentFailures = eventList.filter(e => {\n  try { return new Date(e.created_at) > cutoff; } catch { return false; }\n});\n\nconst failCount = recentFailures.length;\nconst QA_FAIL_THRESHOLD = 3;\nconst shouldEscalate = failCount >= QA_FAIL_THRESHOLD;\n\nreturn [{\n  json: {\n    fail_count: failCount,\n    threshold: QA_FAIL_THRESHOLD,\n    should_escalate: shouldEscalate,\n    task_id: $('Validate Event').first().json.task_id\n  }\n}];"
      },
      "id": "g6-qaf-005",
      "name": "Evaluate Escalation",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1080, 300]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.should_escalate }}",
              "value2": true
            }
          ]
        }
      },
      "id": "g6-qaf-006",
      "name": "Threshold Exceeded?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1300, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.BUILDOS_BASE_URL }}/api/governance/incidents",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/json" },
            { "name": "X-Buildos-Secret", "value": "={{ $env.BUILDOS_SECRET }}" }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "body": {
          "severity": "P2",
          "incident_type": "qa",
          "owner_domain": "qa",
          "title": "QA auto-escalation: task {{ $json.task_id }} failed QA {{ $json.fail_count }} times in 24h",
          "description": "Task {{ $json.task_id }} has failed QA {{ $json.fail_count }} consecutive times within 24 hours (threshold: {{ $json.threshold }}). Auto-escalated by G6 governance orchestrator.",
          "task_id": "={{ $json.task_id }}",
          "auto_generated": true,
          "source": "g6-governance-orchestrator"
        },
        "options": { "timeout": 10000 }
      },
      "id": "g6-qaf-007",
      "name": "Create G2 Incident (Escalate)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1520, 200]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"event\": \"qa_failed\", \"escalated\": false, \"fail_count\": {{ $('Evaluate Escalation').first().json.fail_count }} }"
      },
      "id": "g6-qaf-008",
      "name": "Respond OK (No Escalation)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1520, 400]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={ \"ok\": true, \"event\": \"qa_failed\", \"escalated\": true, \"fail_count\": {{ $('Evaluate Escalation').first().json.fail_count }}, \"incident_created\": true }"
      },
      "id": "g6-qaf-009",
      "name": "Respond OK (Escalated)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1740, 200]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Validate Event", "type": "main", "index": 0 }]]
    },
    "Validate Event": {
      "main": [[{ "node": "Log to G5 task_events", "type": "main", "index": 0 }]]
    },
    "Log to G5 task_events": {
      "main": [[{ "node": "Count QA Failures (Escalation Check)", "type": "main", "index": 0 }]]
    },
    "Count QA Failures (Escalation Check)": {
      "main": [[{ "node": "Evaluate Escalation", "type": "main", "index": 0 }]]
    },
    "Evaluate Escalation": {
      "main": [[{ "node": "Threshold Exceeded?", "type": "main", "index": 0 }]]
    },
    "Threshold Exceeded?": {
      "main": [
        [{ "node": "Create G2 Incident (Escalate)", "type": "main", "index": 0 }],
        [{ "node": "Respond OK (No Escalation)", "type": "main", "index": 0 }]
      ]
    },
    "Create G2 Incident (Escalate)": {
      "main": [[{ "node": "Respond OK (Escalated)", "type": "main", "index": 0 }]]
    }
  },
  "active": false,
  "settings": { "executionOrder": "v1" },
  "id": "buildos-g6-qa-failed",
  "meta": { "templateCredsSetupCompleted": true },
  "tags": [{ "name": "buildos-governance" }, { "name": "g6" }]
}
